body{
    font-family:sans-serif;
    color: #2D3748;
    background-image: linear-gradient(rgb(42, 71, 119), rgb(15, 31, 53));
    min-height: 100vh;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.header img {
    width: 300px;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    width: 100%;
    max-width: 900px;
    padding: 60px;
}

.description{
    font-size:22px;
    line-height: 1.4;
    color: #44484f;
}

.desc-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
    color :#212429;
}

.main-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

#description, #main-container{
    width:60%;
    min-width: 700px;
    margin-left:auto;
    margin-right:auto;
}

.rateaux-container{
    width: 48%;
}

.rateau-content {
    border: solid 4px #dfe2e8;
    border-radius: 8px;
}

.rateaux-header{
    font-size:26px;
    font-weight:bold;
    margin:40px 5px 20px;
    color :#212429;
}

.rateau{
    padding:24px;
    /* margin:10px 0px; */
    font-weight:bold;
    font-size:20px;
    color: #44484f;
}

.rateau:not(:last-child) {
    border-bottom: solid 4px #dfe2e8;
} 

.rateaux-header, .rateau{
    text-align:center;
}

.rateau:hover{
    cursor:pointer;
    background-color: #eceef2;
}
